.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  padding: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-image {
  max-width: 200px;
  height: auto;
}

.description{
  text-align: justify;
}

.cont-discount{
  display: flex;
}